@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
* {
  box-sizing: border-box;
}

body {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px 0px 0px;
  background-color: rgba(44, 53, 57 , 1.0);
}

.mainContentsWrapper {
    background-color: rgba(255, 255, 255 , 0.9);
    border-radius: 20px;
}

header {
  text-align: center;
  padding-top: 30px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.header-name h1 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 35px;
}

.header-portrait {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.header-portrait img {
  max-width: 100%;
  border-radius: 50%;
}

.upper-left-column, .upper-right-column {
  padding: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.upper-left-column ul, .upper-right-column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.upper-left-column ul li, .upper-right-column ul li {
  font-weight: bold;
  font-size: 90%;
  color: #444444;
}

#upper-left-column-heading, #upper-right-column-heading {
  display: inline;
}

/* #header-follow-link {
  font-size: 80%;
  color: grey;
}

#header-follow-link {
  font-weight: bold;
  background-color: ##DFFFFF;
}

#header-follow-link a {
  color: grey;
  text-decoration: none;
} */

.main-container {
  text-align: center;
  padding-top: 30px;
}

.bottom-middle-row {
  clear: both;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.reference {
  padding: 30px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.referenceSender {
  overflow: hidden;
}

.referenceSenderImage {
  width: 70px;
  float: left;
}

.referenceSenderImage img {
  max-width: 100%;
  border-radius: 15px;
  padding: 5px;
}

.referenceSenderDetails {
  overflow: hidden;
}

.referenceSenderDetails p.RSDname {
  font-weight: bold;
  padding: 15px 5px 3px;
  margin: 0px;
}

.referenceSenderDetails p.RSDdesignation {
  padding: 0px 5px 10px;
  margin: 0px;
}


/* Medium devices (tablets, 700px and up) */

@media (min-width: 700px) {
  .main-container {
    overflow: hidden;
  }
  .upper-left-column {
    float: left;
    width: 45%;
    text-align: right;
  }
  .upper-right-column {
    float: right;
    width: 45%;
    text-align: left;
  }
  .bottom-middle-row {
    max-width: 70%;
  }
}
